
.App {

  max-width: 940px;
  margin:auto
}

.text p {
  line-height: 1.5em;
  margin-bottom:20px;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 2em;
  /* font-family: 'Times New Roman'; */
}

.detail {
  display: inline;
  line-height: 2em;
}

h2 {
  line-height:3em;

}

h2, .detail {
  font-size: 1em;
  font-weight: normal;
  text-transform:uppercase;
  color: grey;
}

.top {
  width:100%;
  display:block;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}


.sub-nav {
  position: sticky;
  top:59px;
  background-color: var(--dark);
  padding: 1em 0;
  border-bottom: solid var(--grey);
  z-index: 999;




}

.sub-nav.about {
  top: 118px;

}

.sticky-nav {
  padding: 1em 0;
  position: sticky;
  top: 0;
  background-color: var(--dark);
  border-bottom: solid transparent;
  transition: border-bottom 0.1s ease-in;
  z-index: 999;

}

.sticky-nav.active {
  opacity: 1;
  border-bottom: solid var(--grey);
}

.my-name {
  opacity:0;
}

.my-name.active {
  opacity:1;

}

.fade-line {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-line.visible {
  opacity: 1;
}

#head-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#info {
  display: grid;
  grid-template-columns: 1fr  1fr;
}

#blurb {
  font-size:1.5em;
  /* font-family: 'Times New Roman', Times, serif */
}


.spacer-420 {
height:420px;
}

.spacer-210 {
  height:210px;
  }


.spacer-90 {
  height:90px;
  }

.spacer-50 {
    height:50px;
    }
  

.item {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
  height:5em;

}

footer {
  color:grey;
  width:100%;
  text-align:center;
  align-items: center;
 display: grid;
  grid-template-columns: 1fr;
  margin:1em;
}

.item-title{
  margin: 0px 0px 0.5em 0px;
}

.item-date {
  color:var(--grey)
}

.faded {
  color: var(--grey)
}

/* .item-content {
max-width:720px;
margin:auto;
} */

img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;

}

.horizontal {
  display: flex;
  flex-direction: row;
}

.rounded {
  border-radius: 5px;
  overflow:hidden;
}

  .centered {
    flex: 1;
    display: flex;

    align-self: stretch;
    align-items: center; /* Ensures content is centered vertically */
  }

.logo-container {
  position: relative;
  width: 35px;
}

.logo {
position: absolute;
width: 25px;
transform: translateY(-10%)
}

/* .app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.tag-guide {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 19%;
  text-align: center;
  font-size:1.4em;
}

.cursor-preview {
  position: relative
}

.preview-image-wrapper {
  position: fixed;
  pointer-events: none;
  z-index: 50;
}

.preview-image {
  width: 100px;
  height: 50px;
  object-fit: cover;
}



.two-column {
  display: flex;
  gap: 20px;
  align-items:flex-start;
}

.two-column .text {
  flex: 1;
}

.two-column .image {
  flex: 1;
  object-fit: contain;
}

.two-column img {
  width: 100%;
  height: auto;
  display: block;
}

.two-column.reverse {
  flex-direction: row-reverse;
}