
.App {

  max-width: 940px;
  margin:auto
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

.top {
  width:100%;
  display:block;
  height:270px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}


.sub-nav {
  position: sticky;
  top:59px;
  background-color: var(--dark);
  padding: 1em 0;
  border-bottom: solid var(--grey);



}

.sub-nav.about {
  top: 118px;

}

.sticky-nav {
  padding: 1em 0;
  position: sticky;
  top: 0;
  background-color: var(--dark);
  border-bottom: solid transparent;
  transition: border-bottom 0.1s ease-in;
}

.sticky-nav.active {
  opacity: 1;
  border-bottom: solid var(--grey);
}

.my-name {
  opacity:0;

}

.my-name.active {
  opacity:1;

}

.fade-line {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-line.visible {
  opacity: 1;
}

#head-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#info {
  display: grid;
  grid-template-columns: 1fr  1fr;
}

#blurb {
  font-size:1.5em;
}


.spacer-420 {
height:420px;
}

.spacer-210 {
  height:210px;
  }


.spacer-90 {
  height:90px;
  }

.item {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;;
  height:5em;

}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-title{
  margin: 0px 0px 0.5em 0px;
}

.item-date {
  color:var(--grey)
}

.faded {
  color: var(--grey)
}

.item-content {
max-width:720px;
margin:auto;
}

img {
  display: block;
  max-height:420px;
  margin: auto;

}

.spacer-3em {
  height: 3em
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.logo-container {
  position: relative;
  width: 35px;
}

.logo {
position: absolute;
width: 25px;
transform: translateY(-10%)
}

/* .app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */