.top {
  width:100%;
  display:block;
  color: white;
  height:270px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}


.sub-nav {
  position: sticky;
  top:59px;
  background-color: #262424;
  padding: 1em 0;
  border-bottom: solid grey;



}

.sticky-nav {
  width:100%;
  padding: 1em 0;
  position: sticky;
  top: 0;
  background-color: #262424;
  border-bottom: solid transparent;
  transition: border-bottom 0.1s ease-in;
}

.sticky-nav.active {
  opacity: 1;
  border-bottom: solid grey;
}

.fade-line {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-line.visible {
  opacity: 1;
}

#head-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.spacer-420 {
height:420px;
}

.item {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;;
  height:5em;

}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-title{
  margin: 0px 0px 0.5em 0px;
}

.item-date {
  color:grey
}

.faded {
  color: grey
}

.item-content {
max-width:720px;
margin:auto;
}

img {
  display: block;
  max-height:420px;
  margin: auto;
}